body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game-info {
  display: flex;
  flex-direction: row;
}

.word-status {
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  flex-direction: row;
}

